[submodule "gambatte-libretro"]
	path = gambatte-libretro
	url = git@github.com:flagbot/gambatte-libretro.git
[submodule "GCR_CMake"]
	path = GCR_CMake
	url = https://github.com/Makman2/GCR_CMake.git
[submodule "libretro-common"]
	path = libretro-common
	url = https://github.com/libretro/libretro-common.git
